doctype html
html
  head
    meta(charset='UTF-8')
    title Hello ChernivtsiJS!
    link(rel='stylesheet', href='../frontend/styles/main.css')
  body
    h1 Hello, ChernivtsiJS!
    button#button get person
  script.
    require('../frontend/scripts/frontend.js')
    require('../server.js')
